body{
	font-family: Catamaran;
	font-weight: bold;
	background-color: #008E95;
	color: white;	
}

span.badge.badge-facility{
	margin-right: 5px;
}

.card-body span.badge.badge-facility{
	font-size: 1rem;
	margin: 5px;
}

.first-description * {	
	display: inline;	
}

.placeName{
	font-size: 2rem;	
}

.placeName, .navbar *, .footer *, .badge.badge-pill, .card-header{
	font-family: Lobster;
	font-weight: normal;
}

.navbar *, .footer *{
	font-size: 2rem;	
	color: white;
}

.breadcrumb{
	background-color: rgba(255,255,255, 0.1);	
}

.breadcrumb-item span, .breadcrumb-item::before{
	color: white !important; 
}

.breadcrumb a{
	color: #BA002D;
}

.stars{		
	font-size: 0.5rem;
	margin-left: 0.5rem;
}

.navbar-red{
	background-color: #BA002D !important;
	color: white !important;	
}

.navbar-red * {
	color: white !important;
}

.badge.badge-pill{
	padding: 0.5rem;
	font-size: 1.2rem;	
}

.list-group{
	padding: 10px;
	background-color: rgba(255,255,255, 0.2);
}

.list-group-item{
	background-color: #008F93;
	color: white;
}

.list-group-item:hover{
	background-color: #BA002D;
	color: white;
}

.list-group-item:hover .badge.badge-pill{
	color: #BA002D;
	background-color: white;
}

p.lead{
	text-align: justify;
	font-weight: bold;
}

.footer a:hover, .navbar a:hover{
	text-decoration: none;
	color: yellow !important;
}

.card-header{
	background-color: #BA002D;	
}

.card{
	background-color: transparent;
	border-color: #BA002D;
	border-width: 2px;	
	margin-bottom: 1rem;
}

p:not(.direction){
	line-height: 0.5cm;
	text-align: justify;
}

.review p {
	font-style: italic;
	font-weight: normal;		
}

.card-body.opening-hours p{
	margin-bottom: 0.1rem;
}

.btn.btn-outline-light:hover, .btn.btn-outline-light:active{
	background-color: white;
	color: #BA002D;
}

button{
	font-family: Lobster !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
	position: absolute;
	bottom: 0;
	min-height: 60px;  
	background-color: #BA002D;
	color: white;
	width: 100%;
}
