extends layout
block content	
	.row.justify-content-center.mb-4.mx-4.mx-md-0
		.col-md-6.col-sm-12.border-bottom
			h2.placeName About
	.row.justify-content-center.mx-4.mx-md-0
		.col-md-6.col-sm-12
			p.lead Loc8r was created to help people find places to sit down and get a bit of work done.
			p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed lorem ac nisi dignissim accumsan.