doctype html
html
	head
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
		link(rel='shortcut icon', type='image/x-icon', href='/images/faviconMarker.ico')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/footer.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Lobster|Catamaran")
	body
		nav.navbar.sticky-top.navbar-red.justify-content-center
			a.navbar-brand.py-0(href='/') Loc8r
		nav.my-0.py-0(aria-label='breadcrumb')
			ol.breadcrumb.mb-0.py-1
				li.breadcrumb-item
					a(href='/') Home
				li.breadcrumb-item.active 
					span Current
		.container.my-3.pb-3
			block content
		footer.footer.text-center
			.container
				a(href='/about') About us
		script(src='/javascripts/jquery-3.3.1.min.js')
		script(src='/bootstrap/js/bootstrap.min.js')
		script(defer src='https://use.fontawesome.com/releases/v5.0.8/js/all.js')